<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>options</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script> 
    <!-- should probably download htmx to use locally -->

    <style>
        table {
            border: 1px solid rgb(0, 0, 0);
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid rgb(0, 0, 0);
            text-align: center;
            padding: 4px;
        }
    </style>
</head>
<body>
    <div id="index" hx-get="/update-index" hx-trigger="every 1s" hx-swap="innerHTML"></div>
    <table id="arbTable">
        <thead>
            <tr>
                <th scope="col" rowspan="2">Expiry</th>
                <th scope="col" rowspan="2">Strike</th>
                <th scope="col" colspan="3">Bids</th>
                <th scope="col" colspan="3">Asks</th>
                <th scope="col" rowspan="2">Profit</th>
                <th scope="col" rowspan="2">%Profit</th>
                <th scope="col" rowspan="2">APY</th>
                
            </tr>
            <tr>
                <th>Exchange</th>
                <th>Type</th>
                <th>Price</th>
                <th>Exchange</th>
                <th>Type</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody hx-get="/update-table" hx-trigger="every 1s" hx-swap="innerHTML"></tbody>
    </table>
</body>
</html>